.navigationItems {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 500px) {
    .navigationItems {
        flex-direction: row;
        color: green;
    }
}